<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>

<body ng-cloak>
    <div ng-controller="MyAppCtrl as ctrl" class="container">
        <div class="page-header">
            <h3>User Registration</h3>
        </div>
        <form method="post" name="regForm" ng-submit="ctrl.register()" ng-hide="ctrl.showResult">
            <div class="form-group">
                <label for="">Name</label>
                <input name="name" type="text" class="form-control" ng-model="ctrl.name">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input name="email" type="email" class="form-control" ng-model="ctrl.email">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success">
            </div>
        </form>
        <div ng-show="ctrl.showResult">
            {{ctrl.message}}
        </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/services/app.service.js"></script>
</body>

</html>